/****************************
HEADER
****************************/

#main-head {
  background-image: url("../images/dirtroadfield-copy.jpg");
  backgrounds-blend-mode: screen;
  background-repeat: no-repeat;
}

/****************************
BODY
****************************/


#main {
  width: 75%;
  margin: auto;
}

h2 {
  text-align: center;
}

div#parent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.employee-pic {
  width: 60%;
  border: 3px solid dimgray;
  border-radius: 50%;
}

.employees {
  width: 50%;
  text-align: center;
  padding-top: 5%;
}

.employees p {
  padding: 10%;
}
