/****************************
GENERAL
****************************/

* {
    font-family: 'Source Sans Pro', 'Lato', sans-serif;
}

h1,
h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

p {
    text-align: justify;
}

/****************************
HEADER
****************************/

nav {
    background-color: #C25454;
    display: block;
    height: 5%;
    padding: 0.25%;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 1%;
}

nav ul {

}

nav a {
    color: #EDEDED;
}

nav a.selected, nav a:hover {
  color: #666666;
}

#main-head {
    clear: both;
    text-align: center;
    color: #EDEDED;
    height: 300px;
    background-image: url("../images/sunrisefield-copy.jpg");
    backgrounds-blend-mode: screen;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 10%;
}



/****************************
BODY
****************************/
#company-info {
    padding: 0 2%;
}


/****************************
FOOTER
****************************/

#footer {
    height: 5%;
    margin-bottom: 0;
    text-align: center;

}

#footer-ul {
    display: inline-block;
}

.footer-li {
    display: inline-block;
    list-style-type: none;
}

.footer-image {
   height: 30px;
   padding: 0 50px;
}

#copyrightText {
    color: #6D6D6D;
    text-align: center;
    font-size: .75em;
}
