/****************************
GENERAL
****************************/

* {
    font-family: 'Source Sans Pro', 'Lato', sans-serif;
}

/****************************
HEADER
****************************/

nav {
    background-color: #C25454;
}

nav li {
    style: none;
}

nav a {
    color: #EDEDED;
    text-decoration: none;
}

/****************************
BODY
****************************/



/****************************
FOOTER
****************************/